<section data-ng-controller="CreateController">

<div class = "container">
  <br/>
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Poll Name">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div class = "container">
  <br/>
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Poll Question">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div class = "container">
  <br/>
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Response Option">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div class = "container">
  
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Response Option">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div class = "container">
  
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Response Option">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>

<div class = "container">
  
  <div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	  <div class = "input-group">
	  	 <span class="input-group-addon">
	  	 	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  	 </span>
	  	 <input type="text" class="form-control" placeholder="Response Option">
	  </div>
	  </div>
	<div class="col-lg-2"></div>
  </div>
</div>
	
</section>