<section data-ng-controller="HomeController" data-ng-init="list(); geolocate()">
    <div class="container">
        <div class="row">
        <div class="col-lg-6">
                <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
            </div>
        </div>
        <a href="/#!/create"> <div type="submit" class="btn btn-warning btn-block btn-large">Create</div> </a>
        <div data-ng-repeat="poll in polls" data-ng-href="#!/vote/{{poll._id}}" class="panel panel-default">
            <div class="panel-body">
                <h2> {{poll.name}} <a href="#!/vote/{{poll._id}}"> <button type="button"  style="vertical-align: middle" class="btn btn-primary pull-right">Vote</button> </a> </h2>
            </div>
        </div>
    </div>
</section>
