<section data-ng-controller="HomeController" data-ng-init="list()">
    <br/>
    <div class="container">
        <div data-ng-repeat="poll in polls" class="panel panel-default">
            <div class="panel-body">
                <h2> {{poll.name}} <button type="button" class="btn btn-primary pull-right">Vote</button></h2>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-body">
                <h2> Test Poll <button type="button" class="btn btn-primary pull-right">Vote</button></h2>
            </div>
        </div>
    </div>
</section>
