<section data-ng-controller="HomeController" data-ng-init="findOne();voteInit(); madeNew = true">
<br/>
<div class="jumbotron">
    <p data-ng-bind="poll.question"></p>
</div>

<div data-ng-repeat="answer in poll.answers track by $index">
    <div class="col-lg-14">
        <button data-ng-bind="answer" class="btn btn-lg btn-block btn-primary" ng-click="vote($index)" type="button"> </button>
    </div>
</div>

<div ng-show="showCreateCustomOptions(poll) && madeNew"

     <div type="submit" ng-click="addVoteResponse(poll)" class="btn-group" role="group" aria-label="...">
	 <a href="javascript:void(0)" class="btn btn-primary">
	     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	     <span style="padding-left: 10px;">Add Option</span>
	 </a>

     </div>
</div>

<div ng-show="showCreateCustomOptions(poll) && madeNew"
     <div class="input-group">
         <input type="text" class="form-control" ng-model = "newText" placeholder="New Response" aria-describedby="basic-addon2">
         <span class="input-group-addon" id="basic-addon2"></span>
     </div>
</div>
</section>

