<section data-ng-controller="HomeController">
<br>
<div class="jumbotron">
    <p>THIS IS THE QUESTION THAT HAS BEEN POSED THAT YOU WILL ANSWER.</p>
</div>

<div class="col-lg-14">
    <button class="btn btn-lg btn-block btn-primary" type="button">Response 1</button>
</div>

<div class="col-lg-14">
    <button class="btn btn-lg btn-block btn-primary" type="button">Response 2</button>
</div>

<div class="col-lg-14">
    <button class="btn btn-lg btn-block btn-primary" type="button">Response 3</button>
</div>

<div class="col-lg-14">
    <button class="btn btn-lg btn-block btn-primary" type="button">Response 4</button>
</div>

</section>